@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --list-style-type-*: initial;
  --list-style-type-square: square;
  --list-style-type-roman: upper-roman;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-slide-down: slideDown 0.1s ease-out;
  --animate-slide-up: slideUp 0.1s ease-out;
  --animate-slide-down-uP: slideDownUP 1s ease-out;

  --font-display: var(--font-plex);
  --font-sans: var(--font-plex);
  --font-mono: var(--font-martian-mono);

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
  --text-4xs: 0.4375rem;

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes slideDownUP {
    0%,
    100% {
      height:;
    }
    50% {
      height: 30px;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    /* --foreground: 224 71.4% 4.1%; */
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    /* --card-foreground: 224 71.4% 4.1%; */
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 10%;
    /* --popover-foreground: 224 71.4% 4.1%; */
    --popover-foreground: 0 0% 100%;

    /* --primary: 220.9 39.3% 11%; */
    --primary: 0 0% 10%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    /* --secondary-foreground: 220.9 39.3% 11%; */
    --secondary-foreground: 0 0% 10%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 26.1%;

    --accent: 220 14.3% 95.9%;
    /* --accent-foreground: 220.9 39.3% 11%; */
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    /* --ring: 224 71.4% 4.1%; */
    --ring: 0 0% 10%;

    /* --sidebar-background: 0 0% 98%; */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    /* --sidebar-primary-foreground: 0 0% 98%; */
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --radius: 0.5rem;
  }

  @media not print {
    .dark {
      /* --background: 224 71.4% 4.1%; */
      --background: 0 0% 10%;
      --foreground: 210 20% 98%;

      /* --card: 224 71.4% 4.1%; */
      --card: 0 0% 12%;
      --card-foreground: 210 20% 98%;

      /* --popover: 224 71.4% 4.1%; */
      --popover: 0 0% 10%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      /* --primary-foreground: 220.9 39.3% 11%; */
      --primary-foreground: 0 0% 10%;

      /* --secondary: 215 27.9% 16.9%; */
      --secondary: 215 0 16.9%;
      --secondary-foreground: 210 20% 98%;

      /* --muted: 215 27.9% 16.9%; */
      --muted: 215 0% 16.9%;
      --muted-foreground: 217.9 10.6% 90.9%;

      /* --accent: 215 27.9% 16.9%; */
      --accent: 215 0% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      /* --border: 215 27.9% 16.9%; */
      --border: 215 0% 16.9%;
      /* --input: 215 27.9% 16.9%; */
      --input: 215 0% 16.9%;
      --ring: 216 12.2% 83.9%;

      /* --sidebar-background: 240 5.9% 10%; */
      --sidebar-background: 0 0% 10%;
      --sidebar-foreground: 240 4.8% 95.9%;
      --sidebar-primary: 224.3 76.3% 48%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 240 3.7% 15.9%;
      --sidebar-accent-foreground: 240 4.8% 95.9%;
      --sidebar-border: 240 3.7% 15.9%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.print-force-new-page {
  page-break-before: always;
}

.word-spacing {
  word-spacing: -3px;
}

.embla__dot--selected {
  /* @apply bg-gray-500; */
  @apply border-card-foreground;
  @apply border-2;
}

/* a:hover {
  text-decoration: underline;
} */

.markdown a {
  @apply underline;
  @apply underline-offset-2;
  @apply decoration-gray-300;
  @apply hover:decoration-gray-500;
  @apply decoration-1;
  @apply -ml-1;
  @apply inline-block;

  @apply print:no-underline;
  @apply print:ml-0;
}

.markdown a::before {
  @media not print {
    /* @apply content-[''] absolute -left-0.5 top-55/100 size-1 -translate-y-1/2 transform rounded-full bg-green-500; */
    /* @apply content-[''] inline-block whitespace-nowrap align-middle text-left mr-1 size-1 rounded-full bg-green-500; */
    @apply content-['\2022'] inline-block text-green-500 whitespace-nowrap text-nowrap no-underline;
  }
}

a:not(.button):focus-visible {
  @apply border-hidden;
  @apply outline-2;
  @apply outline-ring;
  @apply outline-offset-2;
  @apply rounded-md;
}

ul:not([data-sidebar="menu"], [data-sidebar="menu-sub"], .jp-RenderedHTMLCommon > ul) {
  @apply ml-6;
  /* @apply text-xs; */
  /* @apply print:text-2xs; */
  @apply list-square;
  @apply space-y-1;
  @apply mt-1;
}

code {
  /* @apply relative; */
  @apply rounded;
  @apply border;
  @apply px-[0.3rem];
  @apply py-[0.05rem];
  /* @apply font-extralight; */
  /* @apply font-mono; */
  /* @apply text-xs; */
  @apply bg-muted;
  @apply text-muted-foreground;
}

code:not(.jp-RenderedHTMLCommon code) {
  /* @apply text-base; */
  @apply font-mono;
}

/* .jp-InputArea-editor, div.jp-OutputArea-output > div { */
/* .jp-InputArea-editor, .jp-OutputArea-child {
  @apply overflow-x-auto!;
} */